.link {
  text-decoration: none;
}

.mar {
  margin-right: 0;
}

App {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
}
body {
  background-color: "white" !important;
  overflow-y: scroll;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 25px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}