.card {
	font-family: monospace;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.heading {
	text-align: center;
	background-color: #ff6600;
	font-family: sans-serif;
	color: white;
}

.img {
	width: 300px;
	height: 300px;
}

.flip-card {
	background-color: transparent;
	width: 300px;
	height: 300px;
	border: 1px solid #f1f1f1;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
	font-style: italic;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background-color: #bbb;
	color: black;
}

/* Style the back side */
.flip-card-back {
	background-color: #ff6600;
	color: white;
	transform: rotateY(180deg);
}

.welcome {
	font-family: sans-serif;
	font-style: normal;
	font-size: 31px;
	line-height: 22px;
	/* identical to box height, or 71% */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;

	color: #ff6600;
}
