.inventory-card {
	height: 450px;
	width: 350px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: 0.2s ease all;
	margin: "10px";
}
.inventory-image {
	width: 90%;
	height: 40%;
	display: block;
	margin: auto;
	margin-top: 5px;
}
.details {
	padding: 20px;
	font-size: 16px;
}

.linkContainer {
	display: flex;
	justify-content: center;
    align-items: center;
	margin-top: 5px;
}

div.folded {
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    float: left;
    height: 380px;
    margin: 10px 0 0 10px;
    position: relative;
    text-align: center;
    width: 280px;
	padding: 5px;
}

div h2.sticker-label {
    background: #ff6600;
    background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));
    border: 0 solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
	letter-spacing: 0.01rem;
    line-height: 1.2;
}

div.folded:before, div.folded:after {
    bottom: 26px;
    box-shadow: 0 28px 8px rgba(0,0,0,0.5);
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
}
div.folded:before {
    left: 2%;
    transform: rotate(-3deg);
}
div.folded:after {
    right: 2%;
    transform: rotate(3deg);
}
div.folded h2.sticker-label {
    border-width: 1px 1px 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 4px 40px;
    position: absolute;
    right: -14px;
    top: 12px;
}
div.folded h2.sticker-label:after {
    border-width: 7px;
    border-style: solid;
    border-color: #ff6600 transparent transparent #ff6600;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}