.tiles {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  position: relative;
}
.tile {
  margin: 15px;
  cursor: pointer;
  overflow: hidden;
  width: 20vw;
  height: 18vw;
}
.tile img {
  height: 200px;
  object-fit: scale-down;
  transition: transform 500ms ease;
}
.tile img:hover {
  transform: scale(1.1);
}
.card {
  margin-top: 20px;
  position: relative;
  max-height: 410px;
  width: 310px;
  border: 1px solid #ff6e4e;
  box-shadow: 0 0 10px 3px #ff6e4e;
}
.card:first-of-type {
  margin-right: 2em;
}

/* card with ribbon */
.ribbon {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  text-align: right;
}

/* card with ribbon */
.ribbon span {
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 115px;
  display: block;
  background: #f5431a;
  box-shadow: 0 0 10px 3px #ff6e4e;
  position: absolute;
  top: 20px;
  right: -25px;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .card:first-of-type {
    margin-right: 0;
  }
}
