.text {
	color: white;
}

.link {
	text-decoration: none;
	color: #ff6600;
}
.footer {
	position: sticky;
	bottom: 0;
	height: 50px;
	background-color: #5e5e5e;
	/* opacity: 0.8; */
	z-index: -10000;
}
