.birthday-container {
	position: relative;
	z-index: -500;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #111111;
	opacity: 0.4;
	z-index: -100;
}
.user-image {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	object-fit: cover;
}
