.title {
	color: #ff6600;
	font-family: verdana;
	font-size: 250%;
	padding: 30px;
	text-align: center;
	font-family: monospace;
}
.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
