.forgotPW {
  text-decoration: none;
  color: #ff6600;
}

.formContainer {
  border-radius: 5px;
  /* box-shadow: 0px 2px 4px rgb(136, 132, 127); */
  margin: 30px 30px 0 30px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 10% 10% 5% 10%;
}
.leftContainer {
  position: absolute;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.left {
  border-right: 1px solid #cfcfcf;
}

.navlink {
  cursor: pointer;
  color: #4a5568;
}
.navlink:hover{
  color: #ff6600;
}